/* Text Styles */
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    background-color: #eae8e8;
    line-height: 1.5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}

h2 {
    color: #12274b;
  }
  
h3 {
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    color: #5F5555;
}
h4 {
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    color: #5F5555;
}

.explanation {
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    text-align: center;
}

/* Center the table */
table {
    border-collapse: collapse;
    width: 50%; /* Adjust as needed */
    margin: 10px auto; /* Centers the table horizontally */
}

/* Style table cells */
td, th {
    border: none;
    padding: 6px;
    text-align: left; /* Aligns text to the left */
}


/* Back to Top Button */
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: none; /* Hide initially */
    transition: opacity 0.3s ease-in-out;
}

#backToTop:hover {
    background-color: #555;
}


/* Style the navigation bar */
.navbar {
    background-color: #333; /* Dark background */
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    padding-right: 30px;
    position: fixed; /* Sticks to the top */
    justify-content: flex-end;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

/* Style navigation links */
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0px; /* Adds space between links */
    display: block;
}

/* Hover effect */
.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Add spacing below the navbar */
body {
    margin: 0;
    padding-top: 50px; /* Prevents content from being hidden under the fixed navbar */
    font-family: Arial, sans-serif;
}

div {
    scroll-margin-top: 50px; /* Adjust based on navbar height */
}

